SUPABASE_URL=dgybmbbyhsxnoecjxhve
SUPABASE_ANON_KEY=sb_publishable_D7dXc66GXWHL4r76KQtNFQ_V1ZDpEKe
SUPABASE_SERVICE_ROLE_KEY=sb_secret_hwWoGoRhISd15x5ssXndmA__2Kvz9fM
JWT_SECRET=your-super-secret-jwt-key-change-this
GEMINI_API_KEY=AIzaSyDSJ1Cb4wTh7wCmnehyeVdhfexcZhb169k
NEXT_PUBLIC_APP_URL=http://localhost:3000
